# Mac
.DS_Store

# Packer vars file
variables.json

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Ansible
*.retry
*Infra*.json

#Nginx role
jdauphant.nginx

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
